.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 200px;
}

.product-card {
  display:flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.product-card-content {
  text-align: center;
  flex-grow: 1;
  overflow: auto;

}

.mat-card-header {
  flex-shrink: 0;
}
